.box {
  width: 400px;
  padding: 20px;
  margin: 10px;
  background: Blue;
  color: white;
  border: 3px solid White;
}

.mytext {
  font-family: "Courier New", Courier, monospace;
  color: Green;
  font-weight: bold;
}
