body {
  background-color: #1c2125;
  font-family: "Raleway", sans-serif;
  margin: 20px;
  color: #0c1e29;
}

.app {
  width: calc(100vw - 100px);
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  color: steelblue;
}

footer span {
  margin-right: 50px;
}

h1 {
  color: White;
  font-size: 6vw;
}

.content {
  font-size: 3vw;
  color: White;
}
