body {
  background-color: #1c2125;
  font-family: "Raleway", sans-serif;
}

h1 {
  color: White;
  font-size: 8vw;
  text-align: center;
}

.content {
  font-size: 4vw;
  color: White;
  text-align: center;
}
